{% extends 'base.html.twig' %}

{% block title %}Stock glass index{% endblock %}

{% block body %}
<div id="app_bar">
    <!-- Кнопки для перехода на другие страницы -->
    <button class="app_bar_button" onclick="window.location.href='{{ path('app_profile') }}'">Profile</button>
      <button class="app_bar_button" onclick="window.location.href='{{ path('app_view_my_application') }}'">My Application</button>
    <label for="dropdown">Filtration:</label>
    <select id="dropdown" name="options" onchange="window.location.href=this.value">
        {% for stock in stocks %}
            <option value="{{ path('app_stock_glass', {'stockId': stock.id}) }}">
                {{ stock.security }}
            </option>
        {% endfor %}
    </select>
</div>

<div class="example-wrapper">
    <h1>All Applications</h1>

    {% for stock in stocks %}
        <h2><span style="color: deeppink">{{ stock.security }}</span></h2>

        {# Отображаем заявки на покупку (BUY) #}
        {% set buyApps = stock.applications|filter(app => app.action == BUY) %}
        {% if buyApps is not empty %}
            <h3 style="color: green">Buy</h3>
            {% for app in buyApps %}
                <div>
                    Price: {{ app.price }} | Quantity: {{ app.quantity }} | Total: {{ app.quantity * app.price }}
                </div>
            {% endfor %}
        {% endif %}

        {# Отображаем заявки на продажу (SELL) #}
        {% set sellApps = stock.applications|filter(app => app.action == SELL) %}
        {% if sellApps is not empty %}
            <h3 style="color: red">Sell</h3>
            {% for app in sellApps %}
                <div>
                    Price: {{ app.price }} | Quantity: {{ app.quantity }} | Total: {{ app.quantity * app.price }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
